.queue-detail-question-container{
    margin: 6% 7% 0 2%;
    display: flex;
}

.queue-detail-question h3{
    font-size: 25px;
    padding-top: 10px;
}

.queue-detail-question .question-descriptions{
    text-align: justify;
}

.question-detail-info{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 1%;
}

.asker-profile{
    display: flex;
    align-items: center;
}

.asker-profile p{
    text-align: right;
    width: 150px;
    padding-right: 5%;
}

.queue-detail-question hr{
    margin: 2% 0 1% 0;
}

.queue-landing-page-desc .profile-pic{
    width: 50px;
    height: 50px;
}

ul{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.queue-landing-page-desc .up-arrow{
    width: 45px;
}

.question-upvotes{
    padding: 10px 35px 10px 10px;
    text-align: center;
    width: 200px;
}

.down-arrow{
    width: 45px;
    transform: rotate(180deg);
}

.question-upvotes p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.queue-landing-page-desc>div>div>hr{
    margin: 0 0 2% 0;
}

.queue-answers-container{
    margin: 0 3% 0 3%;
}

.queue-answers-container p{
    text-align: justify;
    padding: 1% 1%  0;
}

.queue-answers-container li{
    margin: 0 4% 0 7%;
    display: block;
}

.answerer-profile{
    display: flex;
    align-items: center;
    width: 2100px;
    padding-right: 1%;
}

.queue-answers-name{
    padding-left: 15px;
}

.answer-separator{
    margin: 3% 0 3% 0;
}

li>hr{
    margin: 0 0 1% 0;
}

.queue-landing-page-desc>div>div{
    margin-bottom: 2%;
}