.queue-jobs-partners{
    width: 80%;
    margin: auto;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
}
.queue-jobs-partners > div:nth-child(1){
    text-align: center;
    font-size: 14pt;
    color: rgb(91, 171, 250);
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.queue-jobs-partners > div:nth-child(1) > div{
    cursor: pointer;
    background: lightgray;
    color: grey;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
.queue-jobs-partners > div:nth-child(2){
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    border-radius: 30px;
    padding: 20px;
}
.queue-jobs-detail{
    display: none;
}

.queue-jobs-detail>ul.a{
    list-style-type: square;
}
@media screen and (min-width: 485px){
    .queue-jobs-partners > div:nth-child(1){
        font-size: 10pt;
    }
}
@media screen and (min-width: 385px) and (max-width: 485px){
    .queue-jobs-partners > div:nth-child(1){
        font-size: 8pt;
    }
}
@media screen and (max-width: 385px){
    .queue-jobs-partners > div:nth-child(1){
        font-size: 6pt;
    }
}